<app-navbar></app-navbar>

<div class="scene">
  <!-- ZONA ESQUERDA: O MENU -->
  <div class="left-zone">
    <ul class="menu-list">
      <li 
        *ngFor="let local of locais" 
        class="item"
        (click)="selectLocal(local)"
        [ngClass]="{'active': local.id === selectedLocal.id, 'piscina': local.id === 'piscina', 'salao-festas': local.id === 'salao-festas', 'salao-jogos': local.id === 'salao-jogos', 'sala-cinema': local.id === 'sala-cinema'}">
        
        <div class="item-icon" [style.background-image]="'url(' + local.icone + ')'"></div>
        <span>{{ local.nome }}</span>
      </li>
    </ul>
  </div>

  <div class="middle-border"></div>

  <!-- ZONA DIREITA: O CONTEÚDO -->
  <div class="right-zone">
    <!-- O conteúdo aqui muda dinamicamente -->
    <div class="content" [ngClass]="selectedLocal.id" *ngIf="selectedLocal">
      <div class="picto" [style.background-image]="'url(' + selectedLocal.icone + ')'"></div>
      <h1>{{ selectedLocal.nome }}</h1>
      <p>{{ selectedLocal.descricao }}</p>
      <a [routerLink]="selectedLocal.rota" class="btn btn-primary">Ver Agenda e Reservar</a>
    </div>
  </div>
</div>

